

.padding-100 {
    padding: 20px 100px;
}

h1 {
    font-size: 2.5rem;
}


.gallery {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}

.img-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.img-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.img-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
}


.sovrapponi {
    font-size: 2rem;
    font-weight: 900;
}


/* input */
.form-control {
    border-radius: 0;
    background-color: #212529;
    border: none;
    border-bottom: 1px solid #5E737D;
}

button {
    padding-left: 150px;
    padding-right: 150px;
}

.btn-group-lg>.btn, .btn-lg {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0;
    background-color: yellow;
    color: red;
    border: none;
}

.img-bg {
    position: relative;
}

.sovrapponi-scritta {
    position: absolute;
    top: 25%;
    left: 0;
}

